:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: hsl(195, 3%, 8%);
  --base-color: hsl(195, 3%, 10%);
  --overlay-color: hsla(215, 3%, 0%, 0.5);
  --container-color: hsla(215, 5%, 18%, 0.8);
  --button-color: hsl(215, 74%, 53%);
  --button-highlight-color: hsl(215, 74%, 63%);
  --text-color: hsl(195, 3%, 92%);
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-size: 1.2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  padding: 20px;
  border: 1px solid var(--container-color);
  border-radius: 10px;
  background-color: var(--base-color);
}

.survey-container {
  margin-top: 20px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#root {
  width: min(95vw, 1400px);
  margin: 0 auto;
  padding: 20px 12px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}
