.progressContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e0e0e0; /* Light grey for inactive circles */
  margin: 0 5px; /* Spacing between circles */
  transition: background-color 0.3s ease;
}

.progressCircle.active {
  background-color: var(--button-color); /* Green for the active circle */
} 