.surveyPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    padding: 0 20px;
}

.surveyHeader {
    margin-bottom: 20px;
}

.surveyContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    gap: 20px;
    flex-grow: 1;
    height: calc(100% - 60px);
}

.surveyContent {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.surveyOptions {
    width: 25%;
    padding: 20px;
}

.radioGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.surveyOptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
}

.surveyOptionsInfo {
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    height: 50%;
}

.surveyOptionsInfoItem {
    border-radius: 4px;
    padding: 10px;
    height: 50%;
}

.surveyOptionsInfoItem h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.surveyOptionRouteA {
    border: 2px solid #5076F3;
    background-color: hsl(226, 96%, 43%, 25%);
}

.surveyOptionRouteB {
    border: 2px solid #F07939;
    background-color: hsl(21, 88%, 38%, 25%);
}

.surveySelection {
    background-color: var(--container-color);
    border-radius: 10px;
    padding: 20px;
    height: 50%;
}

.surveySelection h3 {
    margin-top: 0;
    margin-bottom: 10px;
}


